/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    shallow_dbs_path        = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/"
    decont_reference_paths  = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2/"
}
