/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    sourmash_db    = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/$params.biome/sourmash_reps_k51.sbt.zip"

    bwa_db         = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/$params.biome/bwa_reps.fa"

    pangenome_db   = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/$params.biome/functional_profiles_DB/"

    host_ref       = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/$params.biome/host.fa

    human_ref      = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2/hg38.fa"
}
