/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    prefix_path                   = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/shallow-mapping/$params.biome"
    reference_genomes_folder      = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2/"

    sourmash_db                   = "$prefix_path/sourmash_reps_k51.sbt.zip"

    //bwa_db                     = "$prefix_path/bwa_reps.fa"

    pangenome_db               = "$prefix_path/functional_profiles_DB/"


}
