/**
 * Container-native execution profile for cloud platforms
 *
 * This profile addresses a compatibility issue with DRAM_DISTILL when running on
 * container-native executors (Kubernetes, Google Cloud Batch, AWS Batch, etc.).
 *
 * The issue is that containerOptions used to mount the dram databases and config file are not
 * supported.
 *
 * The solution: This beforeScript dynamically generates a minimal DRAM configuration
 */
profiles {
    container_native {
        process {
            withName: 'EBIMETAGENOMICS_BIOSIFTR:BIOSIFTR:DRAM_DISTILL' {
                beforeScript = {
                    """
                    echo '{
                        "description_db": "None",
                        "kegg": null,
                        "kofam": null,
                        "kofam_ko_list": null,
                        "uniref": null,
                        "pfam": null,
                        "pfam_hmm_dat": null,
                        "dbcan": null,
                        "dbcan_fam_activities": null,
                        "viral": null,
                        "peptidase": null,
                        "vogdb": null,
                        "vog_annotations": null,
                        "genome_summary_form": "${dram_reference_db_folder}/genome_summary_form.tsv",
                        "module_step_form": "${dram_reference_db_folder}/module_step_form.tsv",
                        "etc_module_database": "${dram_reference_db_folder}/etc_module_database.tsv",
                        "function_heatmap_form": "${dram_reference_db_folder}/function_heatmap_form.tsv",
                        "amg_database": "${dram_reference_db_folder}/amg_database.tsv"
                    }' > /usr/local/lib/python3.10/site-packages/mag_annotator/CONFIG
                    """
                }
                containerOptions = ""
            }
        }
    }
}
